# dependencies
node_modules

# env files
.env
.env.*.local
!.env.example

# build
dist/

# generated
/src/prisma/generated
/generated/*
schema.graphql

# logs
/src/logs
logs
*.log

# misc
.DS_Store
cache
tmp
dump

# lock files
bun.lock

# editor
.idea
.claude/
